* {
  margin: 0;
  padding: 0;
}
#canvas1 {
  position: absolute;
}
#image1 {
  opacity: 0;
}

button {
  z-index: 10;
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 30px;
  font-family: "Bangers", system-ui;
  cursor: pointer;
  background-color: black;
  color: white;
  transition: ease;
}

button:hover {
  color: black;
  background-color: white;
}
/* "Spectral", serif */
